<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qi.mapping.Out_danjuMapper">

<select id="get_danju" parameterType="int" resultType="com.qi.model.Out_danju">
select * from out_danju where out_dnum=#{out_dnum}
</select>

<select id="count_day" resultType="int">
select count(*) from out_danju where DATENAME(DAY,date)=#{d}
</select>

<select id="get_count_day" resultMap="get_all_info">
select * from out_danju o,product p,out_person_info op 
 where o.pnum=p.pnum and o.out_company=op.out_company and o.out_person=op.out_person and DATENAME(DAY,date)=#{d}
</select>

<select id="count_mon" resultType="int">
select count(*) from out_danju where datepart(mm,date)=#{m}
</select>

<select id="get_count_mon" resultMap="get_all_info">
select * from out_danju o,product p,out_person_info op 
 where o.pnum=p.pnum and o.out_company=op.out_company and o.out_person=op.out_person and datepart(mm,date)=#{m}
</select>

<select id="count_year" resultType="int">
select count(*) from out_danju where DATENAME(YEAR,date)=#{y}
</select>

<select id="get_count_year" resultMap="get_all_info">
select * from out_danju o,product p,out_person_info op 
 where o.pnum=p.pnum and o.out_company=op.out_company and o.out_person=op.out_person and DATENAME(YEAR,date)=#{y}
</select>

<insert id="insert_danju" useGeneratedKeys="true" keyProperty="out_dnum" parameterType="com.qi.model.Out_danju">
insert into out_danju(pnum,snum,num,out_company,out_person) values(#{pnum},#{snum},#{num},#{out_person_info.out_company},#{out_person_info.out_person})
</insert>

<update id="update_danju" parameterType="com.qi.model.Out_danju">
update out_danju set pnum=#{pnum},snum=#{snum},num=#{num},out_company=#{out_company},out_person=#{out_person} where out_dnum=#{out_dnum}
</update>

<delete id="delete_danju" parameterType="int">
delete from out_danju where out_dnum=#{out_dnum}
</delete>

<select id="get_danju_time"  resultMap="get_product">
select * from out_danju i,product p where i.pnum=p.pnum and date=#{date,jdbcType=DATE} 
</select>


<resultMap type="com.qi.model.Out_danju" id="get_product">
<id property="out_dnum" column="out_dnum"/>
<association property="product" column="pnum" javaType="com.qi.model.Product">
<id property="pnum" column="pnum"/>
<result property="pname" column="pname"/>
<result property="model" column="model"/>
<result property="size" column="size"/>
<result property="factory" column="factory"/>
</association>


</resultMap>

<select id="get_all_danju" resultMap="get_all_info">
select * from out_danju o,product p,out_person_info op 
 where o.pnum=p.pnum and o.out_company=op.out_company and o.out_person=op.out_person
</select>

<resultMap type="com.qi.model.Out_danju" id="get_all_info">
<id property="out_dnum" column="out_dnum"/>
<result property="snum" column="snum"/>
<result property="num"  column="num"/>
<result property="date" column="date"/>
<result property="time" column="time"/>

<association property="product" column="pnum" javaType="com.qi.model.Product">
<id property="pnum" column="pnum"/>
<result property="pname" column="pname"/>
<result property="model" column="model"/>
<result property="size" column="size"/>
<result property="factory" column="factory"/>
</association>

<association javaType="com.qi.model.Out_person_info" property="out_person_info" column="{out_company,out_person}">
<id property="out_company" column="out_company"/>
<id property="out_person" column="out_person"/>
<result property="tel" column="tel"/>
</association>


</resultMap>





</mapper>